backend:
  name: bitbucket
  branch: master
  repo: daycareiq/trykidgenius.com
  auth_type: implicit
  app_id: qQdGSV3ZJUkxmbWYtm

media_folder: "static/images/uploads"

collections:
  - name: "posts"
    label: "Posts"
    folder: "content/blog"
    create: true
    slug: "index"
    media_folder: ""
    public_folder: ""
    path: "{{title}}/index"
    fields:
      - { label: "Title", name: "title", widget: "string", required: true }
      - { label: "Publish Date", name: "date", widget: "datetime", required: true }
      - { label: "Slug", name: "slug", widget: "string", required: true }
      - { label: "Author", name: "author", widget: "string", required: true }
      - { label: "Keywords", name: "keywords", widget: "string", required: true}
      - { label: "Body", name: "body", widget: "markdown", required: true }
